.router-link-active{
   background-color:#31577a;
   text-decoration:none;
}

.daozhibo .header{
    width:100%;
    height:40px;
    padding-right:25px;
    background:#31577a;
}

.news-type>li.active{
    background-color: #31577a;
}

.activity .price li a.active{
    border-bottom:2px solid #31577a;
}

.activity .price li a{
    color:#fff;
    text-decoration:none;
    padding-bottom:20px;
    border-bottom:2px solid transparent;
}

.chat .chat-title{
    color:#31577a;
}

.daozhibo .chat .btn-send{
    width: 50px;
    height: 40px;
    background-color: #31577a;
    color: #fff;
    padding: 3px 10px;
}

.login-title{
    color:#31577a;
}

.text_1 p {
    color:#31577a;
}

.text_5 input {
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color:#31577a;
}


.text_6 a {
    color: #31577a;
}

.login_border .num {
    background-color: #31577a;
}

.btn-danger{
    background-color: #31577a;
    border-color:#31577a;
}

.daozhibo .sidebar ul li>a:hover{
   background-color:#31577a;
}

.login_reg>span.active{
   background-color:#fff;
   border-radius:10px;
   color:#31577a;
}

.change-account{
    background-color:#31577a;
}

.news-type>li.active{
   background-color:#31577a;
}

.border-title{
    border-left:2px solid #31577a;
}

.media-title{
    color:#31577a;
}

.zj-list-header>ul li.active{
    background-color:#31577a;
}

.zj-list .sub-menu .sub-menu-inner>li.active{
    border-top:2px solid #31577a;
}

.setting-btn {
    background-color: #31577a;
}